body {
    /* padding: 25px; */
    background-color: white;
    color: black;
    font-size: 25px;
  }
  

.dark-mode{
    background: black;
    color: #ffff;
}



.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:rgb(25, 23, 46);
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
    font-size: 40px;
    text-align: center;
}

.container-fluid{
	height: 40vh;
	background:linear-gradient(rgba(2, 6, 22, 0.7),rgba(4, 9, 29, 0.7)),  url(./img/eiot2.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.container-fluid h1{
	font-size: 70px !important;
	font-weight: 700;
	color: #ffff;
}
.input-group>.form-control{
	/* width: 300px !important; */
	border: solid 4px rgb(20, 26, 46);
}

.input-group>.form-control:focus{
	color: rgb(18, 21, 39);
}
@media (max-width : 700px) {
	.container-fluid{
		height: 40vh;
		background:linear-gradient(rgba(0, 0, 0, 0.7),rgba(4, 9, 29, 0.7)),  url(./img/eiot2.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.container-fluid h1{
		font-size: 50px !important;
		font-weight: 700;
		color: #ffff;
		padding: 20px;
	}
}